.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  --radius: 10px;
  height: 228px;
  margin: 86px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-shape-2 {
  --radius: 15px;
  height: 113px;
  width: 0;
  background-image: none;
  margin: 0 auto 0 -340px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 3rem;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-1 .u-shape-1 {
    --radius: 15px;
    height: 113px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
    width: auto;
    margin-top: -69px;
    margin-right: 110px;
    margin-left: 10px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: -52px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 0.75rem;
    margin-top: -30px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin: -26px 20px 76px auto;
    padding: 1px 20px 2px;
  }
}.u-block-ac86-5 {
  position: absolute;
  inset: auto auto -11.6406px calc(50% - 23.5312px);
}

.u-block-ac86-3 {
  position: absolute;
  left: 0;
}

.u-block-ac86-4 {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 375px;
  top: 107px;
  padding: 0;
}

@media (max-width: 575px) {
  .u-block-ac86-3 {
    width: 1px;
    height: 1px;
    top: 107px;
    padding: 0;
  }
}

.u-section-2-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-2-1 .u-image-1 {
  width: 533px;
  height: 300px;
  margin: 60px auto 0;
}

.u-section-2-1 .u-image-2 {
  width: 533px;
  height: 300px;
  margin: 40px auto 0;
}

.u-section-2-1 .u-image-3 {
  width: 533px;
  height: 300px;
  margin: 40px auto 0;
}

.u-section-2-1 .u-image-4 {
  width: 533px;
  height: 300px;
  margin: 40px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-2-1 .u-image-1 {
    height: 51px;
    width: 139px;
    margin-top: 13px;
    margin-left: 44px;
  }

  .u-section-2-1 .u-image-2 {
    width: 122px;
    height: 37px;
    margin-top: -43px;
    margin-left: -54px;
  }

  .u-section-2-1 .u-image-3 {
    width: 115px;
    height: 38px;
    margin-top: -38px;
    margin-right: 62px;
  }

  .u-section-2-1 .u-image-4 {
    width: 89px;
    height: 50px;
    margin-top: -44px;
    margin-right: -27px;
    margin-bottom: 19px;
  }
}

.u-section-2-2 .u-sheet-1 {
  min-height: 699px;
}

.u-section-2-2 .u-image-1 {
  width: 533px;
  height: 300px;
  margin: 60px auto 0;
}

.u-section-2-2 .u-image-2 {
  width: 533px;
  height: 300px;
  margin: 40px auto 0;
}

.u-section-2-2 .u-image-3 {
  width: 533px;
  height: 300px;
  margin: 40px auto 0;
}

.u-section-2-2 .u-image-4 {
  width: 533px;
  height: 300px;
  margin: 40px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-2-2 .u-image-1 {
    height: 51px;
    width: 139px;
    margin-top: 13px;
    margin-left: 44px;
  }

  .u-section-2-2 .u-image-2 {
    width: 122px;
    height: 37px;
    margin-top: -43px;
    margin-left: -54px;
  }

  .u-section-2-2 .u-image-3 {
    width: 115px;
    height: 38px;
    margin-top: -38px;
    margin-right: 62px;
  }

  .u-section-2-2 .u-image-4 {
    width: 89px;
    height: 50px;
    margin-top: -44px;
    margin-right: -27px;
    margin-bottom: 19px;
  }
} .u-section-3 {
  background-image: linear-gradient(to bottom, rgba(42, 43, 45, 1), rgba(42, 43, 45, 1));
}

.u-section-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-3 .u-slider-1 {
  min-height: 600px;
  margin: 50px auto 50px 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 30px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/IMG_5549.PNG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-text-1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 3rem;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-bottom: 0;
  margin-top: 20px;
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(42,43,45,1);
  padding: 8px 33px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/IMG_5550.PNG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 20px -60px 0;
}

.u-section-3 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(242,242,242,1);
  margin: 20px -60px 0;
  padding: 8px 33px;
}

.u-section-3 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 543px;
    height: auto;
    width: 706px;
    margin: 56px auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 194px;
    margin-right: auto;
    margin-left: 154px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 32px;
    padding: 13px 120px 14px 119px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 190px;
    margin-right: auto;
    margin-left: 132px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 63px;
    padding: 16px 136px 16px 134px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: -34px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: -36px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 504px;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 185px;
    width: 357px;
    margin: 113px -8px 53px;
  }

  .u-section-3 .u-carousel-indicators-1 {
    bottom: 26px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 47px;
    padding-right: 47px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 30px;
    margin-left: 66px;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
    margin-top: 14px;
    padding: 4px 36px 5px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 28px;
    margin-left: 68px;
  }

  .u-section-3 .u-btn-2 {
    border-style: solid;
    margin-top: 8px;
    margin-left: 7px;
    padding: 4px 37px 5px 36px;
  }

  .u-section-3 .u-carousel-control-1 {
    width: 31px;
    height: 31px;
    left: -15px;
    padding: 4px;
  }

  .u-section-3 .u-carousel-control-2 {
    width: 31px;
    height: 31px;
    right: -15px;
    padding: 4px;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(42, 43, 45, 1), rgba(42, 43, 45, 1));
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 318px;
}

.u-section-4 .u-slider-1 {
  min-height: 185px;
  height: auto;
  width: 357px;
  margin: 97px -8px 37px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 26px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/IMG_5548.PNG");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 47px;
}

.u-section-4 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(42,43,45,1);
  margin: 14px auto 0 0;
  padding: 4px 36px 5px;
}

.u-section-4 .u-carousel-control-1 {
  width: 31px;
  height: 31px;
  left: -15px;
  position: absolute;
  background-image: none;
  right: auto;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  width: 31px;
  height: 31px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -15px;
  padding: 4px;
}

.u-section-4 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 60px auto 60px 20px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    min-height: 543px;
    width: 706px;
    margin: 56px -8px 56px auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 17px;
    margin-left: 32px;
    padding: 13px 120px 14px 119px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: -34px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: -36px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    min-height: 504px;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 203px;
    width: 357px;
    margin: 0 -9px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 47px;
    padding-right: 47px;
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
    margin-top: 72px;
    margin-left: 13px;
    padding: 4px 49px 5px 48px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: -15px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: -15px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 59px;
    padding-right: 59px;
  }
} .u-section-5 {
  background-position: 50% 50%;
  background-image: linear-gradient(to bottom, rgba(42, 43, 45, 1), rgba(42, 43, 45, 1));
}

.u-section-5 .u-sheet-1 {
  min-height: 204px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 6px;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 15px 759px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 9px 548px 0 22px;
}

.u-section-5 .u-text-3 {
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 0.75rem;
  width: auto;
  margin: 0 -285px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 0.75rem;
  width: auto;
  margin: 0 -285px 0 0;
}

.u-section-5 .u-btn-1 {
  --radius: 40px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.625rem;
  letter-spacing: 4px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 0 88px 0 86px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
    margin-right: 559px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 0;
    margin-right: 346px;
    margin-left: 24px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 0.625rem;
    margin-right: 339px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 135px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 159px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 8px;
  }

  .u-section-5 .u-text-1 {
    letter-spacing: 4px;
    font-size: 0.75rem;
    width: auto;
    margin-top: -616px;
    margin-right: 70px;
    margin-left: -15px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 37px;
    margin-right: 61px;
    margin-left: -15px;
  }

  .u-section-5 .u-text-3 {
    width: 69px;
    margin-top: 293px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: 186px;
    margin-top: -254px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -103px;
    margin-bottom: 60px;
    margin-left: -15px;
    padding-right: 4px;
    padding-left: 3px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 367px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  --radius: 10px;
  height: auto;
  min-height: 228px;
  margin: 30px auto 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-shape-1 {
  width: 250px;
  height: 250px;
  --radius: 15px;
  margin: 30px auto 0;
}

.u-section-6 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  margin: 73px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 97px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 113px;
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-6 .u-group-1 {
    --radius: 25px;
    width: 404px;
    min-height: 61px;
    margin: 143px -32px 0;
  }

  .u-section-6 .u-shape-1 {
    width: 30px;
    height: 30px;
    --radius: 7px;
    margin-top: 10px;
  }

  .u-section-6 .u-shape-2 {
    width: 15px;
    height: 20px;
    margin-top: -25px;
  }
}